.stream-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: monospace !important;
    font-size: 16px;
}

.stream-img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.stream-header{
    color: #ffffff;
    font-family: monospace !important;
    padding: 10px;
}