.main-title {
    font-family: "Segoe UI Light", "Roboto Thin",serif;
    padding: 20px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}

.movie-card {
    padding: 10px;
    background: none;
    text-align: center;
    min-height: 360px;
    cursor: pointer;
}

.movie-title {
    font-family: "Segoe UI Semibold", serif;
    color: #fff;
}

.movie-genre {
    font-family: "Segoe UI Light", "Roboto Thin",serif;
    color: #a7a7a7;
    font-size: 13px;

}

.movie-poster {
    padding-top: 5px;
    height: 250px;
}

.movie-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 360px;
}
