
.details-side-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.details-side-poster {
    margin: 10px;
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    object-fit: contain;
}

.details-side-text {
    text-align:center;
    color: #ffffff;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Segoe UI Light", "Roboto Thin",serif;
}

.details-genre{

}

.poster-wrapper {
    background: linear-gradient(182deg, #120052, #652ec7, #04a59e, #71bba1, #e15367);
    background-size: 1000% 1000%;
    margin-right: auto;
    width: 80%;
    margin-left: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-animation: BorderAmination 28s ease infinite;
    -moz-animation: BorderAmination 28s ease infinite;
    -o-animation: BorderAmination 28s ease infinite;
    animation: BorderAmination 28s ease infinite;
}

@-webkit-keyframes BorderAmination {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes BorderAmination {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes BorderAmination {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes BorderAmination {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}




@media screen and (max-width: 599px) {
    .poster-wrapper {
        width: 35%;
    }
}
