.appBar {
    background: linear-gradient(34deg, #120052, #652ec7, #04a59e, #71bba1, #e15367);
    background-size: 1000% 1000%;

    -webkit-animation: HeaderAnimation 30s ease infinite;
    -moz-animation: HeaderAnimation 30s ease infinite;
    -o-animation: HeaderAnimation 30s ease infinite;
    animation: HeaderAnimation 30s ease infinite;
}

@-webkit-keyframes HeaderAnimation {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@-moz-keyframes HeaderAnimation {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@-o-keyframes HeaderAnimation {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}
@keyframes HeaderAnimation {
    0%{background-position:73% 0%}
    50%{background-position:28% 100%}
    100%{background-position:73% 0%}
}

#SHeader {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}