.footer-main {
    background: linear-gradient(34deg, #120052, #652ec7, #04a59e, #71bba1, #e15367);
    background-size: 1000% 1000%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    -webkit-animation: HeaderAnimation 30s ease infinite;
    -moz-animation: HeaderAnimation 30s ease infinite;
    -o-animation: HeaderAnimation 30s ease infinite;
    animation: HeaderAnimation 30s ease infinite;
}

.footer-grid {
    width: 100%;
    margin-top: -350px;
    z-index: -1;
}

.footer-title {
    padding-top: 10px;
    color: #ffffff;
}