.details-box {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.details-header {
    padding-top: 10px;
    font-family: monospace !important;
}

.details-title{
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 2px;
    font-family: monospace;
    text-align: center;
}

.details-quote{
    color: #ffffff;
    font-style: italic;
    padding: 12px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

@media screen and (max-width: 950px) {
    .details-trailer {
        width: 100%;
    }
}