.route-wrapper {
    position: relative;
}

.route-wrapper > div {
    position: absolute;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #131f29;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content{
    flex: 1 0 auto;
    min-height: 90vh;
}

body:before {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    background: #131f29;
}